*.pyc
*.log
*.swp
*.egg*
*.vpd
*.??0
*.txt
*.eps
*.jez
*.png
*.eps
logfile
report.html
.mProbo

doc/mProbo/user_guide/build/*
mLingua/doc/mLingua/user_guide/build/*

build

DVE*
csrc*
simv*
vc_hdrs.h
ucli.key
vcs.prof
INCA_libs
hdl.tcl
ncprof.out
shm.prof
waves.shm

mLingua/samples/connect/connect_lib/connectLib/*
mLingua/samples/connect/connect_lib/connectLib/.*
dave.lic
distribution/*
