######################################
# Example of a simulator configuration
######################################

[DEFAULT] 

# In this example, variables in [DEFAULT] (until starting golden section) 
# are just for string interpolation;  None of them is a reserved word for 
# a simulator configuration

dut = amux  # name of device-under-test
prj_dir = ${mPROBO_DEMO_DIR}/%(dut)s
ckt_dir = %(prj_dir)s
vlog_dir = %(prj_dir)s/vlog
lib_dir = ${DAVE_SAMPLES}/mLingua
opt_y_va = -y %(lib_dir)s/misc -y %(lib_dir)s/stim -y %(lib_dir)s/meas -y %(lib_dir)s/device 
opt_y_sv = %(opt_y_va)s -y %(lib_dir)s/prim
inc_dir = ${DAVE_INST_DIR}/samples/mLingua+${DAVE_INST_DIR}/samples/mProbo


[golden] # Set-up for golden model
  model = ams  # ams or verilog
  simulator = ncsim # ncsim or vcs
  hdl_include_files = mProbo_macro.vh # Verilog header files to be included in a test bench
  ams_control_file = %(prj_dir)s/../circuit.scs # analog control file for running AMS simulation in NC-simulator
  simulator_option =  +NCCDSLIB+%(lib_dir)s/connect/cds.lib +WORK+worklib +libext+.v+.va+.vams +ncdiscipline+logic +ACCESS+rwc +ncnolog %(opt_y_va)s +incdir+%(inc_dir)s -loadpli %(lib_dir)s/pli/libpli.so:dave_boot # simulator option
  default_ams_connrules = connectLib.conn_1p8v # ams connect rule
  spice_lib = ${mPROBO_DEMO_DIR}/spice_lib/ptm065/models.lib  # SPICE model for circuit simulation
  sweep_file = False  # delete simulation files if True
  [[circuit]] # import circuit netlist, only if "model"=="ams" and "simulator"=="ncsim"
    amux = %(ckt_dir)s/amux.sp # subcircuit name and its spice netlist filename

[revised] # Set-up for revised model
  model = verilog
  simulator = vcs
  hdl_files  = %(vlog_dir)s/%(dut)s.v  # verilog files to include
  hdl_include_files = mProbo_macro.vh, mLingua_pwl.vh
  simulator_option =  +libext+.v+.sv+.vp +v2k %(opt_y_sv)s +incdir+%(inc_dir)s +cli +lint=PCWM -notice -debug_pp -P %(lib_dir)s/pli/pli_get_timeunit.tab %(lib_dir)s/pli/pli_get_timeunit.so -CFLAGS "-g -I$VCS_HOME/`vcs -platform`/lib" +acc+3 +define+VCS+MSG_QUIET -full64 +vcs+lic+wait
